/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .day-common {
    @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}
